* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    min-width: 100%;
    height: 50px;
    background-color: rgba(19, 10, 27, 0.973)
}

section {
    min-width: 100%;
    height: 768px;
    background: linear-gradient(rgba(110, 66, 9, 0.514),rgba(29, 9, 110, 0.541)), 
    no-repeat center/cover url('https://i.pinimg.com/originals/0d/9d/0b/0d9d0bd13442272211ba6318b346688d.jpg');
}

a:link {
    text-decoration: none;
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 17px;    
    color: rgb(231, 231, 231);
    padding-top: 5px;
    padding-left: 20px;
}

a:visited {
    color: rgb(231, 231, 231);
}

a:hover {
    color: rgb(207, 189, 255);
}

a:active {
    color: rgb(159, 135, 224);
}

.headshot {
    margin: 18% 40% 10% 42%;
    border: 10px rgba(17, 17, 17, 0.582) solid;
    border-radius: 50%;
}